.cls-1 {
  font-family: HelveticaNowText-ExtraBold, Helvetica Now Text;
  font-size: 9.2px;
  font-weight: 800;
}

.cls-2 {
  letter-spacing: 1.05em;
}

.cls-3 {
  letter-spacing: 1.06em;
}

.cls-4 {
  letter-spacing: 1.05em;
}
