@import 'layout', 'colors';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 44px 30px 85px;

  @include mq(xl) {
    padding-left: 62px;
    padding-right: 62px;
  }
}

.input-container {
  max-width: 583px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: auto;
}

.error-message {
  color: $red;
}
