@import 'colors', 'layout';

.container {
  height: calc(98vh - var(--header-height));
}

.users {
  padding: 20px 24px;
  height: 100%;
}

.status {
  padding: 0;

  @include mq(xl) {
    padding: 0rem 1.5rem;
  }
}

.active {
  color: $green-active;
}

.inactive {
  color: $error;
}
