@import 'colors';
.button {
  color: $white;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 292px;
  height: 72px;
}

.button p {
  line-height: normal;
}

.iconButton {
  width: 33px;
  height: 33px;
}
