@import 'colors';

.button {
  align-items: center;
  color: $white;
  cursor: pointer;
  display: flex;
  height: 72px;
  justify-content: space-evenly;
  width: 292px;
}

.button p {
  line-height: normal;
}

.icon-button {
  height: 33px;
  width: 33px;
}
