@import 'colors';

.container {
  height: calc(100vh - var(--header-height)); //TODO: It should calc with the navigation height
}

.table-container {
  padding: 19px 25px;
  height: 100%;
}

.active {
  color: $green-active;
}

.inactive {
  color: $error;
}
