@import 'colors';
@import 'fonts';
@import 'layout';

.container {
  overflow-x: auto;
  width: 100%;
  font-family: $font-poppins;
}

.table {
  background-color: $white;
  border-collapse: collapse;
  width: 100%;
}

.thead {
  border-bottom: 2px solid $gray-100;
  border-radius: 20px;
}

.th {
  padding: 1rem 0.25rem;
  color: $text-black;
  font-size: 15px;
  font-weight: $font-semibold-weight;
  text-align: center;

  @include mq(xl){
    padding: 1rem;
  }
}

.td {
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 13px;

  @include mq(xl) {
    padding: 1.5rem;
  }
}
