@import 'colors';

.container {
  overflow-x: auto;
  width: 100%;
}

.table {
  background-color: $white;
  border-collapse: collapse;
  width: 100%;
}

.thead {
  border-bottom: 2px solid $gray-100;
  border-radius: 20px;
}

.th {
  padding: 1rem;
  color: $text-black;
  font-weight: 600;
  text-align: center;
}

.td {
  padding: 1.5rem;
  text-align: center;
  vertical-align: middle;
}
