@import 'colors';

.nav {
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.25rem;

  a {
    color: #000;
    display: flex;
    text-decoration: none;

    div {
      left: unset;
      right: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    & > span {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #000;
        transform: scale(0);
        transform-origin: left;
        transition: transform 0.4s;
      }
    }

    &:hover > span::before {
      transform: scale(1);
    }
  }
}
