@import 'colors';

.sidebar {
  background-color: $black;
  color: $white;
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0;
  overflow: auto;
  padding: .5rem;
  position: fixed;
  width: 20rem;
  
  nav {
    display: flex;
    flex-direction: column;

    svg {
      fill: $white;
      height: 4rem;
      margin: 3rem auto;
      width: 4rem;
    }

    a {
      color: $white;
      margin-bottom: 3rem;
      text-decoration: none;
      display: flex;

      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &:hover {
        text-decoration: underline;
      }

      &:first-child {
        display: flex;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  button {
    color: $white;
    text-align: center;
  }
}

.main {
  height: 100vh;
  margin-left: 20rem;
  overflow: auto;
  width: calc(100% - 20rem);
}

.icons {
  height: 1.5rem;
  left: 0;
  margin-right: .5rem;
  width: 1.5rem;
}
