@import 'colors', 'fonts';

.sidebar {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: $font-visby;
  font-size: 22px;
  height: 100%;
  justify-content: space-between;
  margin: 0;
  overflow: auto;
  padding: 0.5rem;
  position: fixed;
  width: 20rem;

  nav {
    display: flex;
    flex-direction: column;

    .link {
      align-items: center;
      color: $gray-300;
      column-gap: 22px;
      display: inline-flex;
      margin-bottom: 3rem;
      text-decoration: none;
  
      &:hover{
        color: $white;
      }
      
      &:first-child {
        display: flex;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  button {
    color: $white;
    opacity: 0.7;
    text-align: center;
    transition: 0.3s ease opacity;

    &:hover {
      opacity: 1;
    }
  }
}

.logo {
  margin: 3.5rem auto 4.5rem;

  svg {
    fill: $white;
    justify-self: center;
    object-fit: contain;
    width: 4rem;
  }
}

.main {
  height: 100vh;
  margin-left: 20rem;
  overflow: auto;
  width: calc(100% - 20rem);
}

.icons {
  height: 2.5rem;
  left: 0;
  width: 2.5rem;

  img {
    object-fit: contain;
  }
}

.line{
    display: inline-block;
    position: relative;
    padding-bottom: 0.6rem;
    transition: .3s ease;
    &:hover{
      font-size: 1.5rem;
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: $white;
      transform-origin: bottom right;
      transition: transform 0.6s ease-out;
  }
  &:hover:after{
      transform: scaleX(1);
      transform-origin: bottom left;
  }
}
