@import 'colors';

@mixin create-switch($height, $width) {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  width: $width;

  input {
    appearance: none;
    background-color: $white;
    border: 0.5px solid $gray-300;
    border-radius: 32px;
    cursor: pointer;
    display: flex;
    height: $height;
    margin: 0;
    min-width: 48px;
    padding: 0;
    position: relative;

    &:checked {
      &::before {
        background-color: $green-active;
        left: unset;
        transform: translateX(calc($width - $height));
      }
    }

    &::before {
      background-color: $gray-300;
      border-radius: 50%;
      bottom: 0;
      content: '';
      height: $height;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
      transition: all 0.3s;
      width: $height;
    }
  }
}
// sizes
.switch-sm {
  $switch-h: 24px;
  $switch-w: 48px;
  @include create-switch($switch-h, $switch-w);
}

.switch-xl {
  $switch-h: 60px;
  $switch-w: 120px;
  @include create-switch($switch-h, $switch-w);
}

// other sections
.switch-label {
  color: $gray-800;
  display: inline;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.switch-container {
  align-items: center;
  display: flex;
  gap: 15px;
}
