@import 'colors', 'fonts';

.custom-input {
  margin-bottom: 23px;
}

.label-input {
  color: $gray-850;
  font-size: 30px;
}

.input {
  margin: 10px 0;
  font-size: 19px;
  font-family: $font-visby;
}
