$white: #fff;
$black: #010101;

$gray-hover: #545454;
$text-gray: #393939;
$bg-gray: #f2f2f2;
$gray-25: #f3f3f3;
$gray-50: #fafafa;
$gray-75: #fefbfb;
$gray-100: #f5f5f5;
$gray-200: #e6e6e6;
$gray-250: #d0d0d0;
$gray-300: #c9c9c9;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-550: #afabab;
$gray-600: #757575;
$gray-650: #636363;
$gray-700: #616161;
$gray-800: #424242;
$gray-850: #474343;
$gray-900: #212121;
$gray: $gray-500;

$backdrop: rgba(0, 0, 0, 0.3);

$red: #f44336;
$red-dark: #f5282f;
$pink: #e91e63;
$orange: #ff9800;
$purple: #9c27b0;
$blue: #2196f3;
$blue-light: #03a9f4;
$blue-dark: #0277bd;
$blue-king: #153d8d;
$green: #4caf50;
$green-confirm: #b2bf55;
$green-active: #a8b408;

$primary: $gray-900;
$secondary: $blue;
$tertiary: $purple;
$warning: $orange;
$error: $red;
$delete: $red-dark;
$success: $green;
$submit: $green-confirm;
$info: $blue;
$link: $blue-dark;
$link-hover: $blue;
$link-active: $blue-light;

$text-black: $black;
$text-white: $white;
$text-gray-300: $gray-300;
$text-gray-500: $gray-500;

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

:export {
  black: $black;
  blue: $blue;
  blue-dark: $blue-dark;
  blue-light: $blue-light;
  error: $error;
  gray: $gray;
  gray100: $gray-100;
  gray200: $gray-200;
  gray250: $gray-250;
  gray300: $gray-300;
  gray400: $gray-400;
  gray50: $gray-50;
  gray500: $gray-500;
  gray600: $gray-600;
  gray700: $gray-700;
  gray800: $gray-800;
  gray900: $gray-900;
  green: $green;
  info: $info;
  link: $link;
  link-active: $link-active;
  link-hover: $link-hover;
  pink: $pink;
  primary: $primary;
  purple: $purple;
  red: $red;
  secondary: $secondary;
  success: $success;
  tertiary: $tertiary;
  text-black: $text-black;
  text-gray-300: $text-gray-300;
  text-gray-500: $text-gray-500;
  text-white: $text-white;
  warning: $warning;
  white: $white;
}
