@import 'colors', 'fonts';
.form {
  line-height: normal;
  padding: 0 52px;
  background-color: $gray-25;
  position: relative;
  input,
  textarea {
    font-family: $font-visby, $font-base-sans-serif-family;
  }
}

.label {
  font-size: 30px;
  text-align: left;
}

.btn-icon {
  width: 35px;
  height: 35px;
}

.container-input {
  display: flex;
  text-align: center;
  border-radius: 6px;

  label {
    max-width: 100%;
    font-size: 12px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
  }

  .pdf {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 230px;
    height: 66px;
    margin: 24px 0;
    padding: 15px;
    background-color: $gray-200;
    cursor: pointer;
    span {
      flex: 0.7;
      font-size: 22px;
      color: $gray-800;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    figure {
      display: flex;
      flex: 0.3;
      justify-content: center;
    }
  }

  .image {
    width: 301px;
    height: 301px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.label,
.labelTitle {
  font-size: 12px;
  font-weight: normal;
  color: $gray-300;
  font-family: 'Visby', sans-serif;
}

.error-message {
  color: $red;
  font-size: 0.8rem;
  margin: 0.1rem 0 0.5rem 0;
  display: block;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.button,
.buttonCancel,
.buttonSave,
.buttonDelete {
  font-size: 30px;
  padding: 15px 1rem;
  margin: 22px 0;
  background-color: $blue-king;
  border: none;
  border-radius: 5px;
}

.buttonCancel {
  background-color: $gray-300;
  margin-right: 15px;
}

.buttonSave {
  background-color: $success;
  margin-right: 15px;
}

.buttonDelete {
  background-color: $red;
  margin-right: 15px;
}

.buttonCancel,
.buttonSave,
.buttonDelete {
  width: 252px;
}

.section {
  display: flex;
}

.inputSection {
  flex: 0.6;
}

.imageSection {
  padding: 0 5px;
  display: flex;
  flex: 0.4;
  justify-content: center;
  align-items: center;
}

.labelTitle {
  font-size: 30px;
  color: $black;
}

.textarea {
  min-height: 200px;
}
