@import 'colors';

.container {
  margin: 1.5rem auto;
  max-width: 1200px;
}

.logo-container {
  align-items: center;
  background-color: $black;
  border-radius: 0.2rem;
  display: flex;
  grid-area: logo;
  height: 10rem;
  justify-content: center;
  margin-right: 1rem;
  width: 10rem;

  svg {
    height: 100%;
    padding: 10px;
    width: 100%;
  }
}

.logo {
  color: $white;
  fill: $white;
}

.events-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(542px, 1fr));
}

.event-item {
  background: $white;
  color: $black;
  display: grid;
  grid-template-areas:
    'logo title'
    'logo title'
    'logo date';
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 1fr 1rem;
  padding: 1.5rem;
  position: relative;
  text-decoration: none;
  transition: .3s ease;

  .line {
    display: inline-block;
    position: relative;
  }

  .line::after {
    background-color: $black;
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
    width: 100%;
  }

  &:hover {
    color: $black;
    
    .line::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}




.event-image {
  height: 100%;
  width: 100%;
}

.event-header {
  font-size: 1.3rem;
  font-weight: 500;
  grid-area: title;
  line-height: normal;
  margin: auto;
  text-align: left;
  width: 300px;

  h2 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    padding-bottom: 0.5rem;
    text-overflow: ellipsis;
    transition: .5s ease;
  }
}

.event-content {
  grid-area: date;
  text-align: end;
}

.event-date {
  font-weight: 500;
}
