.container {
  margin: 1.5rem auto;
  max-width: 1200px;
}

.logo-container {
  grid-area: logo;
  width: 10rem;
  padding: 20px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .2rem;
  margin-right: 1rem;
}

.logo {
  color: white;
  fill: white;
}

.page-header {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.new-event-button {
  background: #038519;
  border: 0;
  color: #fff;
}

.new-event-button:hover {
  background: #026e14;
}

.events-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(542px, 1fr));
}

.event-item {
  background: #fff;
  color: #000;
  padding: 1.5rem;
  display: grid;
  grid-template-areas:  "logo title"
                        "logo title"
                        "logo date";
  grid-template-rows: 1fr 1fr 1rem;
  grid-template-columns: 200px 1fr;
  text-decoration: none;
}

.event-header {
  font-size: 1.3rem;
  font-weight: 500;
  grid-area: title;
  margin: auto;
  text-align: left;
  width: 100%;
  line-height: normal;
}

.event-content {
  grid-area: date;
  text-align: end;
}

.event-date {
  font-weight: 500;
}

.event-description {
  margin: 1rem 0;
}


.event-footer button {
  border: 0;
  text-align: center;
}

.event-item-edit {
  background: #015d92;
  border: 0;
  color: #fff;
}

.event-item-edit:hover {
  background: #004578;
}
