@import 'colors','fonts';
$input-radius: .2rem;

.form-product{
  padding: 2rem;
  background-color: $gray-250;
  width: 80vw;
}
@media (min-width: 768px) {
  .form-product{
    padding: 4rem;
    }
  }
@media (min-width: 1024px) {
  .form-product{
    margin-left: -5rem;
    padding: 4rem;
    }
  }
@media (min-width: 1245px) {
  .form-product{
    margin-left: -11rem;
    padding: 4rem;
    }
  }
@media (min-width: 1400px) {
  .form-product{
    margin-left: -16rem;
    padding: 4rem;
    }
  }
@media (min-width: 2560px) {
  .form-product{
    margin-left: -52rem;
    padding: 4rem;
    width: 100vw;
    }
  }
.container-price{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.price{
  font-size: 19px;
}
.label {
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-family:$font-base-sans-serif-family;
  text-align: left;
}
.input-product {
  width: 50%;
  border: 1px solid $gray-250;
  background-color:  $white;
  font-size: 19px;
  &::placeholder {
  font-size: 19px;
  }
}
.textarea {
  width: 80%;
  height: 18.7rem;
  border: 1px solid $gray-250;
  background-color:  $white;
  font-size: 19px;
  margin-top: 0.5rem;
  padding: 2rem;
  &::placeholder {
  font-size: 19px;
  color: $gray-300;
  }
}
.text-size{
  font-size: 1.875rem; /* 30px */
}
.font-visby{
  font: normal 19px Visby;
}
.image{
  background-color:  $white;
  height: 18.7rem;
  width: 18.7rem;
  border: 1px solid $gray-250;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  color: $gray-250;
  flex-direction: column;
  font-size: 12px;
  svg{
    width: 2rem;
  }
}
