@import 'colors', 'forms';

.submit {
  background: $black;
  border: 0;
  border-radius: $input-radius;
  color: $white;
  display: flex;
  justify-content: center;
  width: 100%;

  &:hover {
    background: $gray-800;
  }

  &:active,
  &:focus {
    background: $gray-900;
  }
}


